<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      layout:decorate="panel/template" lang="pl">
<body>
<section sec:authorize="hasAnyRole('USER', 'ADMIN')" layout:fragment="user_menu">
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        User playground
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOneUser"
           aria-expanded="true" aria-controls="collapseOneUser">
            <i class="fas fa-fw fa-user"></i>
            <span>Panel użytkownika</span>
        </a>
        <div id="collapseOneUser" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">User panel</h6>
                <a class="collapse-item" th:href="@{/user/profile}">Mój profil</a>
                <a class="collapse-item" th:href="@{/user/myServers}">Moje serwery</a>
                <a class="collapse-item" th:href="@{/user/myPayments}">Moje płatności</a>
                <a class="collapse-item" th:href="@{/user/server/order}">Zamów serwer</a>
            </div>
        </div>
    </li>
</section>
<section sec:authorize="hasRole('ADMIN')" layout:fragment="admin_menu">
    <!-- Heading -->
    <div class="sidebar-heading">
        Administrator playground
    </div>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser"
           aria-expanded="true" aria-controls="collapseUser">
            <i class="fas fa-fw fa-address-book"></i>
            <span>Users Panel</span>
        </a>
        <div id="collapseUser" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Admin panel</h6>
                <a class="collapse-item" th:href="@{/admin/user}">Lista użytkowników</a>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseServer  "
           aria-expanded="true"
           aria-controls="collapseServer">
            <i class="fas fa-fw fa-server"></i>
            <span>Servers Panel</span>
        </a>
        <div id="collapseServer" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Admin panel</h6>
                <a class="collapse-item" th:href="@{/admin/server}">Lista serwerów</a>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGames"
           aria-expanded="true"
           aria-controls="collapseGames">
            <i class="fas fa-fw fa-gamepad"></i>
            <span>Games Panel</span>
        </a>
        <div id="collapseGames" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Admin panel</h6>
                <a class="collapse-item" th:href="@{/admin/game}">Lista gier</a>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseHosting"
           aria-expanded="true"
           aria-controls="collapseHosting">
            <i class="fas fa-fw fa-sitemap"></i>
            <span>Hosting Panel</span>
        </a>
        <div id="collapseHosting" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Admin panel</h6>
                <a class="collapse-item" th:href="@{/admin/hosting/list}">Lista hostingów</a>
                <a class="collapse-item" th:href="@{/admin/hosting/add}">Dodaj hosting</a>
                <a class="collapse-item" th:href="@{/admin/hosting/edit}">Edytuj hosting</a>
                <a class="collapse-item" th:href="@{/admin/hosting/locker}">Blokady hostingów</a>
                <a class="collapse-item" th:href="@{/admin/hosting/delete}">Usuń hosting</a>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePayment"
           aria-expanded="true"
           aria-controls="collapseHosting">
            <i class="fas fa-fw fa-cc-amazon-pay"></i>
            <span>Payment Panel</span>
        </a>

        <div id="collapsePayment" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Admin panel</h6>
                <a class="collapse-item" th:href="@{/admin/payment/list}">Lista płatności</a>
                <a class="collapse-item" th:href="@{/admin/payment/debet}">Lista zaległych płatności</a>
                <a class="collapse-item" th:href="@{/admin/payment/add}">Dodaj pośrednika</a>
                <a class="collapse-item" th:href="@{/admin/payment/locker}">Blokady płatności</a>
                <a class="collapse-item" th:href="@{/admin/payment/payments}">Rozlicz płatności</a>
            </div>
        </div>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
    <!--END OF FRAGMENT MENU-->
</section>
<section layout:fragment="content">
    <div class="h5 mb-0 font-weight-bold text-gray-800">
    </div>
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!---->
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard </h1>

        </div>
        <!---->
        <!-- Content Row -->
        <div class="row">
            <!---->
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                     th:text="#{dash.server.online}">
                                    Online
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="#{online}">1932</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-server fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                     th:text="#{dash.hosting.online}">
                                    Hostingi
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="#{hosting}">43</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-sitemap fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                     th:text="#{dash.games.count}">
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="#{games}"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-gamepad fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                     th:text="#{dash.users.count}">
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="#{users}">1399</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-check fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                     th:text="#{dash.payment.count}">
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="#{payments}">3904</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                     th:text="#{dash.payment.cash}">
                                    Hostingi
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="#{cash}">32049 zł</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>
</body>
</html>