<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="panel/template" lang="pl">
<body>

<div layout:fragment="top-bar">
    <span class="text-white btn border-white">
        <a class="btn alert-dark" th:href="@{/api/user/server}"
           th:text="#{panel.text.button.back}"></a></span>
</div>
<section layout:fragment="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!---->
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" th:text="#{panel.text.add.orderServerDetails}">Rent details</h1>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body col-md-4">
                <div class="table-responsive">
                    <div th:if="${param.success}">
                        <div class="alert alert-info">
                                <span class="text-dark text-monospace" th:text="#{panel.text.orderServer.success}">
                                    You've successfully ordered Server!</span>
                        </div>
                    </div>
                    <form th:action="@{/api/user/server/order}" th:object="${server}" th:method="post">

                        <h6 class="error-message btn-outline-danger text-white"
                            th:if="${#fields.hasGlobalErrors()}"
                            th:each="error : ${#fields.errors('global')}">
                            <span class="btn-danger" th:text="${error}">Validation error</span></h6>

                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
                            <label for="name" class="control-label"
                                   th:text="#{panel.text.server.name}">Name</label>
                            <input id="name"
                                   class="form-control"
                                   th:field="*{name}"/>
                            <h6 class="error-message btn-outline-danger text-white"
                                th:each="error : ${#fields.errors('name')}">
                                <span class="btn-danger" th:text="${error}">Validation error</span></h6>
                        </div>

                        <!--                        SELECT TYPE-->
                        <!--                        SELECT GAME-->
                        <!--                        SELECT SLOT-->
                        <!--                        SELECT RENT START-->
                        <!--                        SELECT RENT TIME-->


                        <div class="form-group">
                            <span class="" th:text="#{panel.text.roles}"></span><br>
                            <select class="btn btn-outline-dark" th:field="*{roles}">
                                <option th:value="ROLE_USER" th:text="#{panel.text.add.user}"></option>
                                <option th:value="ROLE_ADMIN" th:text="#{panel.text.add.admin}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <span class="" th:text="#{panel.text.isEnabled}"></span><br>
                            <select class="btn btn-outline-dark" th:field="*{enable}">
                                <option th:value="true" th:text="#{panel.text.isEnabled}"></option>
                                <option th:value="false" th:text="#{panel.text.isDisabled}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <span class="" th:text="#{panel.text.isLocked}"></span>
                            <span th:text="${locked}"></span><br>
                            <select class="btn btn-outline-dark" th:field="*{locked}">
                                <option th:value="true" th:text="#{panel.text.locked.true}"></option>
                                <option th:value="false" th:text="#{panel.text.locked.false}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-danger" th:text="#{register.button.submit}">
                                Register
                            </button>
                        </div>
                    </form>

                    <br><br>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
    <div class="row">
        <!---->
        <!-- Content Column -->
        <div class="col-lg-6 mb-4">
            <!---->
            <!---->
        </div>
        <!---->
        <div class="col-lg-6 mb-4">
            <!---->
        </div>
    </div>
    <!---->
    </div>
    <!-- /.container-fluid -->
    <!---->
</section>


</body>
</html>