<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="panel/template" lang="pl">
<body>
<div layout:fragment="top-bar">
    <span class="text-white btn border-white">
        <span th:text="#{panel.text.details}">Details:</span>
        <span th:text="${user.email}"></span>
                    <a class="btn btn-outline-light" th:href="@{/user/server/}"
                       th:text="#{panel.text.myservers}"></a>
                    <a class="btn btn-outline-light" th:href="@{/user/payments/}"
                       th:text="#{panel.text.mypayments}"></a>
        <a th:href="@{/user/profile/edit(id=${user.id})}">
            <input type="submit" th:value="#{panel.text.button.edit}"
                   class="btn btn-outline-light"/>
        </a>
        <a href="javascript:history.back()"
           class="btn btn-outline-secondary"
           th:text="#{panel.text.button.back}"></a>
</div>
<section layout:fragment="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="form-group float-right">
            <a th:href="@{/admin/user/list}"
               method="get"> <input type="submit" th:value="#{panel.text.button.back}"
                                    class="btn btn-outline-light"/></a>
        </div>
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" th:text="#{panel.text.button.details.user}"></h1>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <div class="form-group">
                        <h3></h3>
                        <!---->
                        <!--            Details Table                    -->
                        <table class="table table-hover table-fixed table-bordered" id="dataTable"
                               width="100%" cellspacing="0">

                            <thead>
                            <tr>
                                <th colspan="2">
                                    Test
                                </th>
                            </tr>
                            </thead>
                            <tbody th:object="${user}">
                            <tr>
                                <th class="alert" th:text="#{panel.text.username}"></th>
                                <td th:text="${user.username}"></td>
                            </tr>
                            <tr>
                                <th class="alert" th:text="#{panel.text.firstname}"></th>
                                <td th:text="${user.firstName}"></td>
                            </tr>
                            <tr>
                                <th class="alert" th:text="#{panel.text.lastname}"></th>
                                <td th:text="${user.lastName}"></td>
                            </tr>
                            <tr>
                                <th class="alert" th:text="#{panel.text.email}"></th>
                                <td th:text="${user.email}"></td>
                            </tr>
                            <tr>
                                <th class="alert" th:text="#{panel.text.mobile}">Mobile</th>
                                <td th:text="${user.mobile}"></td>
                            </tr>
                            <tr>
                                <th class="alert" th:text="#{panel.text.address}"></th>
                                <td th:text="${user.address.street  + ' ' + user.address.building
                                + '/' + user.address.homeNumber + ', ' + user.address.city
                                + ' ' + user.address.postCode} "></td>
                            </tr>
                            <tr>
                                <th class="alert" th:text="#{panel.text.isEnabled}"></th>
                                <td>
                                    <span th:text="#{panel.text.yes}" th:if="${user.enabled} == true"></span>
                                    <span th:text="#{panel.text.no}" th:if="${user.enabled} == false"></span>
                                </td>
                            </tr>
                            <tr>
                                <th class="alert" th:text="#{panel.text.isLocked}"></th>
                                <span th:text="#{panel.text.yes}" th:if="${user.locked} == true"></span>
                                <span th:text="#{panel.text.no}" th:unless="${user.locked} == false"></span>
                            </tr>
                            <tr>
                                <th class="alert" th:text="#{panel.text.created}"></th>
                                <td th:text="${user.created}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
    <div class="row">
        <!---->
        <!-- Content Column -->
        <div class="col-lg-6 mb-4">
            <!---->
            <!---->
        </div>
        <!---->
        <div class="col-lg-6 mb-4">
            <!---->
        </div>
    </div>
    <!---->
    </div>
    <!-- /.container-fluid -->
    <!---->
</section>
</body>
</html>