<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">

<body>
<div layout:fragment="fragOne">
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <div class="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="img/bg2.jpg">
                <div class="container">
                    <h2 th:text="#{about.hero.title1}"></h2>
                    <p th:text="#{about.hero.text1}"></p>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="img/bg2.jpg">
                <div class="container">
                    <h2 th:text="#{about.hero.title2}"></h2>
                    <p th:text="#{about.hero.text2}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="fragOneBy">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="align-content-md-center panel-danger col-md-8" style="margin-top: 10px;">
                <h5>HeadMasters</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus
                    mauris sceleri
                    squeLorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem
                    maximus mauris
                    sceleri
                    squeLorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem
                    maximus mauris
                    sceleri
                    squeLorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem
                    maximus mauris
                    sceleri
                    sque</p>
            </div>
            <div class="col-md-2"></div>

        </div>
    </div>
</div>


<div layout:fragment="fragFour">
    <!-- Banner section -->
    <section class="banner-section set-bg" data-setbg="img/banner-bg1.jpg">
        <div class="container">
            <div class="banner-card">
                <h2 th:text="#{banner.getStarted}"></h2>
                <h6 th:text="#{banner.promptRegister}"></h6>
                <a th:href="@{/register}" class="site-btn sb-c3">Start</a>

            </div>
        </div>
    </section>
    <!-- Banner section end -->
</div>
</body>
</html>