<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}" lang="pl">
<body>
<div layout:fragment="fragOne">
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Hero section -->
    <div class="hero-section">
        <div class="hs-item set-bg" data-setbg="img/bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="row">
                        <div class="col-md-12 col-md-offset-12 bg-gradient-danger">
                            <h4 class="text-white text-monospace">LOGIN<span class="btn-danger">PAGE</span></h4>
                            <form th:action="@{/api/dashboard}" method="post">
                                <div th:if="${param.error}">
                                    <div class="alert alert-danger text-monospace"
                                         th:text="#{login.action.login.error}">
                                        Invalid username or password.
                                    </div>
                                </div>
                                <div th:if="${param.logout}">
                                    <div class="alert alert-info text-monospace" th:text="#{login.action.logged.out}">
                                        You have been logged out.
                                    </div>
                                </div>
                                <div class="form-group text-monospace">
                                    <label for="username" class="text-monospace card-title btn-outline-dark"
                                           th:text="#{login.form.username}">USERNAME</label>
                                    <input type="text"
                                           id="username"
                                           name="username"
                                           class="form-control"
                                           autofocus="autofocus"
                                           th:placeholder="#{login.form.username}"/>
                                </div>
                                <div class="form-group text-monospace">
                                    <label for="password" class="text-monospace text-uppercase btn-outline-dark"
                                           th:text="#{login.form.password}">PASSWORD</label>
                                    <input type="password"
                                           id="password"
                                           name="password"
                                           class="form-control"
                                           th:placeholder="#{login.form.password}"/>
                                </div>
                                <div class="form-group text-monospace">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit"
                                                   name="login-submit"
                                                   id="login-submit"
                                                   class="form-control btn btn-info"
                                                   th:value="#{login.button.submit}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                <span class="text-white text-monospace"
                                      th:text="#{register.prompt.notmember}">New user? </span>
                                    <span class="text-white text-monospace" th:text="#{register.prompt.register}">REGISTER </span>
                                    <a href="/" class="text-white" th:href="@{/registration}">
                                        <span class="btn-danger text-white"
                                              th:text="#{register.prompt.here}">HERE</span></a>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero section end -->
</div>
</body>
</html>