<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout" lang="pl">
<body>
<div layout:fragment="fragOne">
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Hero section -->
    <div class="hero-section">
        <div class="hs-item set-bg" data-setbg="/img/bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="row">
                        <div class="col-md-12 col-md-offset-12 bg-gradient-danger">
                            <h4 class="text-white text-monospace">Lost
                                <span class="btn-danger">PASSWORD</span></h4>
                            <form th:action="@{/account/lost}" th:object="${user}" method="post">
                                <div th:if="${param.error}">
                                    <div class="alert alert-danger text-monospace"
                                         th:text="#{login.action.login.error}">
                                        Invalid Token
                                    </div>
                                </div>
                                <div th:if="${param.notExist}">
                                    <div class="alert alert-danger text-monospace"
                                         th:text="#{password.param.not.exist}">
                                        Account doesn't exist.
                                    </div>
                                </div>
                                <div th:if="${param.disabled}">
                                    <div class="alert alert-danger text-monospace"
                                         th:text="#{password.param.disabled}">
                                        Account is inactive.
                                    </div>
                                </div>
                                <div th:if="${param.sent}">
                                    <div class="alert alert-danger text-monospace"
                                         th:text="#{password.param.sent}">
                                        Message sent
                                    </div>
                                </div>
                                <div th:if="${param.notoken}">
                                    <div class="alert alert-danger text-monospace"
                                         th:text="#{password.param.notoken}">
                                        Token doesn't exist.
                                    </div>
                                </div>
                                <div th:if="${param.usedtoken}">
                                    <div class="alert alert-danger text-monospace"
                                         th:text="#{password.param.usedtoken}">
                                        Token has been used already.
                                    </div>
                                </div>
                                <div th:if="${param.logout}">
                                    <div class="alert alert-info text-monospace" th:text="#{login.action.logged.out}">
                                        You have been logged out.
                                    </div>
                                </div>
                                <div class="form-group text-monospace"
                                     th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                                    <label for="email" class="text-monospace card-title btn-outline-dark"
                                           th:text="#{panel.text.email}">E-mail</label>
                                    <input type="email"
                                           id="email"
                                           name="email"
                                           class="form-control"
                                           autofocus="autofocus"
                                           th:field="*{email}"
                                           th:placeholder="#{form.email}"/>
                                </div>
                                <div class="form-group text-monospace">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit"
                                                   name="login-submit"
                                                   id="login-submit"
                                                   class="form-control btn btn-info"
                                                   th:value="#{password.reset.btn}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                <span class="text-white text-monospace"
                                      th:text="#{register.prompt.notmember}">New user? </span>
                                    <span class="text-white text-monospace" th:text="#{register.prompt.register}">REGISTER </span>
                                    <a href="/" class="text-white" th:href="@{/registration}">
                                        <span class="btn-danger text-white"
                                              th:text="#{register.prompt.here}">HERE</span></a>
                                </div>
                                <div class="form-group">
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero section end -->
</div>
</body>
</html>