<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout">

<body>
<div layout:fragment="fragOne">
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <div class="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="img/bg5.jpg">
                <div class="container">
                    <h2 th:text="#{service.hero.title1}"></h2>
                    <p th:text="#{service.hero.text1}"></p>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="img/bg5.jpg">
                <div class="container">
                    <h2 th:text="#{service.hero.title2}"></h2>
                    <p th:text="#{service.hero.text2}"></p>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="img/bg5.jpg">
                <div class="container">
                    <h2 th:text="#{service.hero.title3}"></h2>
                    <p th:text="#{service.hero.text3}"></p>
                </div>
            </div>
         <div class="hs-item set-bg" data-setbg="img/bg5.jpg">
                <div class="container">
                    <h2 th:text="#{service.hero.title4}"></h2>
                    <p th:text="#{service.hero.text4}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="fragFour">
    <!-- Banner section -->
    <section class="banner-section set-bg" data-setbg="img/banner-bg.jpg">
        <div class="container">
            <div class="banner-card">
                <h2 th:text="#{banner.getStarted}"></h2>
                <h6 th:text="#{banner.promptRegister}"></h6>
                <a th:href="@{/registration}" class="site-btn sb-c3">Start</a>
            </div>
        </div>
    </section>
    <!-- Banner section end -->
</div>
</body>
</html>